
{% extends "base.html" %}
{% load static %}


{% block content %}

    
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">{{ req.title }}</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">posted by {{req.user}}</div>
                            <!-- Post categories-->
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="{% static 'img/testimonials/default.jpg'%}" alt="..." /></figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <h2 class="fw-bolder mb-4 mt-5">{{ req.name }}</h2>
                            <p class="fs-5 mb-4">{{ req.description }}.</p>
                            <!--<p class="fs-5 mb-4">{{ req.image }}.</p>-->
                        </section>
                    </article>
                    <!-- Comments section-->
                    <section class="mb-5">
                        <div class="form-group card bg-light">
                            <div class="form-group card-body">
                                <h2>Add your comment</h2>
                                <!-- Comment form-->
                                <form class=" form-group mb-4" action="{% url 'marketer:add_comment' req.id %}" method="POST">
                                    {% csrf_token %}
                                <div class="form-group">
                                <label class="form-label">Your Name:</label>
                                <input type="text" name="name" class="form-control" /> </div>
                                
                                <div class="form-group">   
                                <label class="form-label">Your Comment:</label>                             
                                <textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!" name="content"></textarea>
                                <input type="submit" class="btn btn-primary mt-2" value="New Comment" ></div></form>
                                <!-- Comment with nested comments-->
                                <h2>Comments</h2>
                                <div class="d-flex mb-4">
                                    
                                    <!-- Parent comment-->
                                    <div class="ms-3">
                                        
                                            {% for offer in offers %}
                                        <div class="form-group border rounded p-3 mt-3">
                                            <div class="fw-bold">Commenter Name</div>
                                            <h5>{{ offer.name }}</h5>
                                            <div class="fw-bold">Comment</div>
                                            <p>{{ offer.content }}</p>
                                            <span>{{ comment.created_at }}</span>
                                        </div>
                                    {% endfor %}
                                        

















                                       
                                                  

                                </div>
                                
                             </div>
                        </div>
                    </section>

                    
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Search</div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                                <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                            </div>
                            <div>
                            {% if "search"  in  request.GET %}
                            <h2> Search results for "{{ request.GET.search }}": </h2>
                            {% endif %}
                            </div>



                        </div>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">similar opportunities</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="{% url 'marketer:all-requests' %}">opportunities</a></li>

                                    </ul>
                                </div>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

       


            <!--{% for offer in offer %}
                <div class="border rounded p-3 mt-3">
                    <h5>{{ offer.name }}</h5>
                    <p>{{ offer.content }}</p>
                    <span>{{ offer.created_at }}</span>
                </div>
            {% endfor %}-->
            
            <hr/>
        
        </div>
        </div>

        {% endblock %}
